button {
    background-color: lightgrey;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.button.login {
    background-color: #4CAF50;
    color: white;
    width: 100%;
}

.login_entry {
    width: 50%;
    margin: auto;
    border: 3px solid grey;
    padding: 10px;
    transform: translate(0%, +50%);
    text-align: center;
}

.logon_text,
.logon_input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

.logintext {
    width: 100%;
    display: inline-block;
    font-size: xx-large;
}

.left_menu {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
}

.left_menu a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.left_menu a:hover {
    color: #f1f1f1;
}

.left_menu .title {
    background-color: grey;
    color: white !important;
}

.action_pane {
    margin-left: 200px;
}