<div id="system_config_container" class="search_record_container">
    <div id="name_container" class="searchfield_container">
        <label>Config Option</label>
        <input id="name_searchfield" class="searchfield">
    </div>
    <div id="value_container" class="searchfield_container">
        <label>Value</label>
        <input id="value_searchfield" class="searchfield">
    </div>
</div>